@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

/* não */
.fb0 {
  fill: #F4837B;
}
.fb1 {
  fill: #FEBA94
}
.fb2 {
  fill: #E56B69
}

/* tuyến giáp */
.thy0 {
  fill: #F4837B;
}
.thy1 {
  fill: #FEBA94;
}
