@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* não */
.fb0 {
  fill: #F4837B;
}
.fb1 {
  fill: #FEBA94
}
.fb2 {
  fill: #E56B69
}

/* tuyến giáp */
.thy0 {
  fill: #F4837B;
}
.thy1 {
  fill: #FEBA94;
}

/* bạch cầu */
.ldot {
  opacity: .5;
  fill: none;
  stroke: #343C7A;
  stroke-width: .5;
  stroke-miterlimit: 10;
}

/* phổi */
.lung1 {
  fill: #E89E7D;
}
.lung2 {
  fill: #DD8F6F
}
.lung3 {
  fill: #FEBA94;
}
.lung4 {
  fill: #D68768;
}

/* đầu và cổ */
.dauvaco {
  fill: #E88B62
}

/* đường ruột */
.bowel0 {
  fill: #F2B9B4;
}
.bowel1 {
  fill: #CE8888;
}
.bowel2 {
  opacity: .55;
  fill: #D49CA7;
}
.bowel3 {
  fill: #DD8F6F;
}
.bowel4 {
  fill: #E89E7D;
}
.bowel5 {
  fill: #F4AB87;
}
.bowel6 {
  fill: #FEBA94;
}
.bowel7 {
  fill: #D68768;
}
.bowel8 {
  fill: #C9775B;
}

/* ngực */
.br0 {
  fill: #F7C1B2;
}
.br1 {
  fill: #F79581;
}
.br2 {
  fill: #D6734C;
}

/* tuyến tụy */
.pan0 {
  fill: #FCD286
}
.pan1 {
  fill: #F9BF64;
}
.pan2 {
  fill: #EAAB57;
}
.pan3 {
  fill: #F7E2B2;
}

/* thực quản */
.oes0 {
  fill: #F4AB87;
}
.oes1 {
  fill: #FEBA94;
}

/* gan */
.liver1 {
  fill: #CE574E;
}
.liver2 {
  fill: #D66253
}
.liver3 {
  fill: #BC4B59;
}
.liver4 {
  fill: #FEBA94;
}
.liver5 {
  fill: #F4AB87;
}

/* hắc tố da */
.m1 {
  fill: #7F371D;
}

/* thận */
.kid0 {
  fill: #FEBA94;
}
.kid1 {
  fill: #F4AB87;
}
.kid2 {
  fill: #D6485D;
}
.kid3 {
  fill: #CC3B57;
}
.kid4 {
  fill: #4B7BD1;
}
.kid5 {
  fill: #628BE5;
}
.kid6 {
  fill: #A05251;
}
.kid7 {
  fill: #964944;
}
.kid8 {
  fill: #893F3C;
}

/* buồng trứng */
.ovary0 {
  fill: #FEBA94;
}
.ovary1 {
  fill: #F2B9B4;
}
.ovary2 {
  fill: #D66253;
}

/* nội mạc tử cung */
.endo0 {
  fill: #F2B9B4;
}
.endo1 {
  fill: #D66253;
}
.endo2 {
  fill: #A05251;
}

/* image1 */
.trach0 {
  fill: #FFCDB8;
}
.trach1 {
  fill: #F2B8A4;
}
.trach2 {
  fill: #FFD7C9;
}
.trach3 {
  fill: #E5A38F;
}
.trach4 {
  fill: #D38A79;
}

/*  */
.icon-fill {
  fill: #FFF;
  transition: 0.25s;
}
circle {
  fill: #235932;
}

.l-fill {
  fill: none;
  stroke: #FFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.l-fill-2 {
  stroke: #FFF;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.n1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFF;
}

.d1 {
  fill: #FFF;
  stroke: #000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.bi0 {
  fill: #FFF;
}
.bi1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFF;
}

.st0 {
  fill: #fff;
}

.lymicon {
  fill: none;
  stroke: #FFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.ov1 {
  fill: #4F4F4F;
  stroke: #000;
  stroke-miterlimit: 10;
}
.ov2 {
  fill: #FFF;
}

.end0 {
  fill: #FFF;
}
.end1 {
  fill: #4F4F4F;
  stroke: #000;
  stroke-width: 1;
  stroke-miterlimit: 10;
}

.scale-custom {
  transform: scale(1.1);
}

.overflow-visible-custom {
  overflow: visible;
}